<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .container {
            margin: 2px 30%;
        }

        .tweet-card {
            border: 1px solid lightblue;
            width: 500px;
            box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
            padding: 12px;
            border-radius: 3px;
            margin: 4px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="tweet-card">
            <img height="40px" width="40px" class="rounded"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1uO9yM0Gp_F2e2oAGZT5dBwsG8yf-WhG-KWYAJVEgsTSx0VAJHUmEv7pO8u9Y8CsXZNM&usqp=CAU"
                alt="">
            <span>Username</span>
            <p>This is a tweet</p>
            <p>20-Feb 8:00 PM</p>
        </div>
    </div>

</body>

</html>